:root {
  --primary-text: #607387;
  --secondary-text: #2D264B;
  --blue-bg-light: #66B2C2;
  --blue-bg-dark: #344455;
  --bg-circle: #D9D9D9;
  --title-text: #344455;
  --line-blue: #3180FF;
  --border: #9EB5CF;
  --white: #FFFFFF;
  --black: #000000;
  --dark: #282526;
}